body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  padding: 40px;
}

.product {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
